<div class="flex flex-col">
  <!-- Left-hand Content -->
</div>
<div class="min-h-screen flex justify-center w-full">
  <div class="flex flex-col items-center">
    <h4 class="text-3xl mx-auto my-8 text-center">Edit Profile</h4>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="flex justify-center">
        <div class="form-inputs w-full max-w-xs border border-slate-700 p-4 rounded-xl space-y-12 shadow-lg shadow-indigo-700/40 mb-8">
          <%= f.input :email, 
                      required: true, 
                      autofocus: true,
                      input_html: { autocomplete: "email", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                      label: "Email" %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
          <% end %>
          <%= f.input :password,
                      required: false,
                      input_html: { autocomplete: "new-password", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                      label: "New Password" %>
          <%= f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                      label: "New Password Confirmation" %>
          <%= f.input :current_password,
                      required: true,
                      input_html: { autocomplete: "current-password", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                      label: "Current Password" %>
          <div class="form-actions flex justify-center">
            <%= f.button :submit, "Update", class: "btn btn-primary my-4 shadow-lg shadow-indigo-700/40" %>
          </div>
        </div>
      </div>
    <% end %>
    <div class="w-full max-w-xs text-left">
      <strong>Unhappy?</strong> <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete %>
      <%= link_to "Back", :back %>
    </div>
  </div>
</div>
