<div class="flex flex-col">
  <!-- Left-hand Content -->
</div>

<div class="min-h-screen flex justify-center w-full">
  <div class="flex flex-col items-center">
    <h4 class="text-3xl mx-auto my-8 text-center">Sign up</h4>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <div class="flex justify-center">
        <div class="form-inputs w-full max-w-xs border border-slate-700 p-4 rounded-xl space-y-12 shadow-lg shadow-indigo-700/40 mb-8">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          input_html: { autocomplete: "email", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                          label: "Email" %>
              <%= f.input :password,
                          required: true,
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          hint_html: { class: "italic text-xs" },
                          input_html: { autocomplete: "current-password", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" },
                          label: "Password" %>
              <%= f.input :password_confirmation,
                          required: true,
                          input_html: { autocomplete: "current-password", class: "input input-bordered input-primary w-full max-w-xs placeholder:text-slate-600" } %>
            <div class="form-actions flex justify-center">
              <%= f.button :submit, "Sign up", class: "btn btn-primary my-4 shadow-lg shadow-indigo-700/40" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="w-full  text-left">
        <p><strong>Already have an account?</strong></p>
        <p><%= render "devise/shared/links" %></p>
      </div>
  </div>
</div>      