<div class="card w-96 bg-base-100 shadow-lg shadow-indigo-700/40 mb-8 w-full">
  <div class="card-body">
    <%= form_with(model: reading) do |form| %>
      <% if reading.errors.any? %>
        <div role="alert" class="alert alert-error">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
          <span>
            <h2><%= pluralize(reading.errors.count, "error") %> prohibited this reading from being saved:</h2>
          <ul>
            <% reading.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
          </span>
        </div>
      <% end %>

      <div>
        <%= form.label :vital_id, style: "display: block" %>
        <%= form.collection_select :vital_id, @user_vitals, :id, :name, prompt: "Select a Vital", required: true, class: "input input-bordered input-secondary w-full max-w-xs" %>
      </div>

      <div>
        <%= form.label :measured_at, style: "display: block" %>
        <%= form.datetime_field :measured_at, class: "input input-bordered input-secondary w-full max-w-xs" %>
      </div>

      <div>
        <%= form.label :numeric_reading, style: "display: block" %>
        <%= form.text_field :numeric_reading, class: "input input-bordered input-secondary w-full max-w-xs" %>
      </div>

      <div>
        <%= form.label :image, "Upload Image", style: "display: block" %>
        <%= form.file_field :image, class: "file-input file-input-bordered file-input-secondary w-full max-w-xs mb-5", service: :amazon_development %>
      </div>

      <div class="mt-4 text-right">
        <%= form.submit class: "btn btn-secondary" %>
      </div>
    <% end %>
  </div>
</div>
