<div id="<%= dom_id reading %>">
  <p>
    <strong><%= reading.vital.name %></strong>
  </p>

  <% if reading.numeric_reading.present? %>
    <p>
      <strong>Numeric reading:</strong>
      <%= reading.numeric_reading %>
    </p>
  <% end %>

  <% if reading.image.attached? %>
    <p>
      <strong>Image:</strong>
      <%= image_tag reading.image %>
    </p>
  <% end %>

  <% if reading.text_reading.present? %>
    <p>
      <strong>Text reading:</strong>
      <%= reading.text_reading %>
    </p>
  <% end %>
  
  <p>
    <strong>Measured at:</strong>
    <%= reading.measured_at %>
  </p>
  
  <br>
</div>
