<div class="min-h-screen flex justify-center w-full">
  <div class="flex flex-col items-center">

    <div>
      <h4 class="text-3xl mx-auto my-8 text-center">My Log</h4>
    </div>

    <% if @readings.exists? %>
      <div id="readings">
        <div class="flex flex-col items-center mx-auto my-4 flex-wrap">
          <%= raw pagy_nav(@calendar[:year]) if @calendar %>
          <%= raw pagy_nav(@calendar[:month]) if @calendar %>
          <%= raw pagy_nav(@calendar[:day]) if @calendar %>

          <%= raw pagy_info(@pagy) if @pagy %> for <%= @calendar[:month].label(format: '%B %Y') if @calendar %>
        </div>

        <div class="flex flex-col items-left">
          <% @readings.each do |reading| %>
            <%= render reading %>
            <p>
              <%= link_to "Edit this entry", reading, class: "btn btn-outline btn-accent" %>
            </p>
            <br>
          <% end %>
        </div>

        <div class="flex flex-col items-center mx-auto my-4">
          <%= raw pagy_nav(@pagy) if @pagy %>     
        </div>
      </div>
    <% else %>
      <div class="text-center my-10">
        <h2>No readings found.</h2>
        <p>Please start by adding your first reading.</p>
        <%= link_to 'Add New Reading', new_reading_path, class: 'btn btn-primary' %>
      </div>
    <% end %>

    <% if @readings.exists? %>
      <div>
        <%= link_to "Add a new log entry", new_reading_path, class: "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>
