<% if notice %>
<div role="alert" class="alert alert-success">
  <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
  <span><%= notice %></span>
</div>
<% end %>

<%= render @reading %>

<div>
  <%= link_to "Edit this reading", edit_reading_path(@reading), class: "btn btn-xs btn-accent" %> |
  <%= link_to "Back to readings", readings_path, class: "btn btn-xs btn-outline btn-accent" %>

  <%= button_to "Destroy this reading", @reading, method: :delete, class: "btn btn-xs btn-error mt-2" %>
</div>