<div class="card col-span-1 row-span-3 shadow-lg xl:col-span-2 bg-base-100">
  <div class="card-body">
    <h2 class="my-4 text-4xl font-bold card-title">
      Your Health, Simplified
    </h2>
    <p>Easily track vital signs and dietary habits to explore how your diet affects your health.</p>
    <div class="card-actions justify-start mt-8 space-x-2">
      <%= link_to 'Start Tracking', new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to 'Login', new_user_session_path, class: 'btn' %>
    </div>
  </div>
</div>

<div class="card row-span-3 shadow-lg compact bg-base-100">
  <figure>
    <%= image_tag 'phone_snapshot.jpg', alt: 'An image of hands taking a picture of a meal with a smartphone', width: "500", height: "500" %>
  </figure>
  <div class="flex flex-col justify-center items-center text-center card-body">
    <h2 class="card-title">Capture Your Diet in a Snap</h2>
    <p class="text-base-content text-opacity-40">Effortlessly Log Meals with a Quick Image Upload</p>
  </div>
</div>

<div class="card row-span-3 shadow-lg compact bg-base-100">
  <figure>
    <%= image_tag 'log.jpg', alt: 'An image of a hand writing in a journal', width: "500", height: "500" %>
  </figure>
  <div class="flex flex-col justify-center items-center text-center card-body">
    <h2 class="card-title">Personalize Your Health Tracking</h2>
    <p class="text-base-content text-opacity-40">Monitor the impact of diet on mood, symptoms, glucose--anything! Customize vitals to fit your health goals.</p>
  </div>
</div>

<div class="card row-span-3 shadow-lg compact bg-base-100">
  <figure>
    <%= image_tag 'heart.jpg', alt: 'An image of hands taking a picture of a meal with a smartphone', width: "500", height: "500" %>
  </figure>
  <div class="flex flex-col justify-center items-center text-center card-body">
    <h2 class="card-title">Empower Your Health Journey</h2>
    <p class="text-base-content text-opacity-40">Embrace technology as your ally in navigating your wellness path.</p>
  </div>
</div>

<footer class="footer p-10 bg-neutral text-neutral-content">
  <nav>
    <h6 class="footer-title">Services</h6> 
    <a class="link link-hover">Branding</a>
    <a class="link link-hover">Design</a>
    <a class="link link-hover">Marketing</a>
    <a class="link link-hover">Advertisement</a>
  </nav> 
  <nav>
    <h6 class="footer-title">Company</h6> 
    <a class="link link-hover">About us</a>
    <a class="link link-hover">Contact</a>
    <a class="link link-hover">Jobs</a>
    <a class="link link-hover">Press kit</a>
  </nav> 
  <nav>
    <h6 class="footer-title">Legal</h6> 
    <a class="link link-hover">Terms of use</a>
    <a class="link link-hover">Privacy policy</a>
    <a class="link link-hover">Cookie policy</a>
  </nav>
</footer>