<div class="card col-span-1 row-span-3 shadow-lg xl:col-span-2 bg-base-100">
  <div class="card-body">
    <h2 class="my-4 text-4xl font-bold card-title">
      Your Health, Simplified
    </h2>
    <p class="mb-8">Easily track vital signs and dietary habits to explore how your diet affects your health.</p>
    <br>
    <div class="card-actions justify-start mt-8 space-x-2">
      <%= link_to 'Start Tracking', new_user_registration_path, class: 'btn btn-primary' %>
      <%= link_to 'Login', new_user_session_path, class: 'btn' %>
    </div>
  </div>
</div>

<div class="card col-span-1 row-span-3 shadow-lg xl:col-span-1 bg-base-100">
  <figure style="width: 100%; height: 100%; margin: 0;">
    <video style="width: 100%; height: 100%; object-fit: cover;" controls>
      <source src="path_to_your_video.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
  </figure>
</div>

<div class="card row-span-3 shadow-lg compact bg-base-100">
  <figure>
    <%= image_tag 'phone_snapshot.jpg', alt: 'An image of hands taking a picture of a meal with a smartphone', width: "500", height: "500" %>
  </figure>
  <div class="flex flex-col justify-center items-center text-center card-body">
    <h2 class="card-title">Capture Your Diet in a Snap</h2>
    <p class="text-base-content text-opacity-40">Effortlessly Log Meals with a Quick Image Upload</p>
  </div>
</div>

<div class="card row-span-3 shadow-lg compact bg-base-100">
  <figure>
    <%= image_tag 'log.jpg', alt: 'An image of a hand writing in a journal', width: "500", height: "500" %>
  </figure>
  <div class="flex flex-col justify-center items-center text-center card-body">
    <h2 class="card-title">Personalize Your Health Tracking</h2>
    <p class="text-base-content text-opacity-40">Monitor the impact of diet on mood, symptoms, glucose--anything! Customize vitals to fit your health goals.</p>
  </div>
</div>

<div class="card row-span-3 shadow-lg compact bg-base-100">
  <figure>
    <%= image_tag 'heart.jpg', alt: 'An image of hands taking a picture of a meal with a smartphone', width: "500", height: "500" %>
  </figure>
  <div class="flex flex-col justify-center items-center text-center card-body">
    <h2 class="card-title">Empower Your Health Journey</h2>
    <p class="text-base-content text-opacity-40">Embrace AI as your ally in navigating your wellness path.</p>
  </div>
</div>

