<div class="hero min-h-screen" style="background-image: url(<%= asset_path('juicyfruit.jpg') %>);">
  <div class="hero-overlay bg-opacity-60"></div>
  <div class="hero-content text-center text-neutral-content">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Welcome to Your Health Dashboard!</h1>
      <p class="mb-5">Kickstart your journey with a custom vital that matters most to you.</p>
      <%= link_to 'Add a Custom Vital', new_vital_path, class: 'btn btn-accent my-4' %>
      <%= link_to 'Add a Log Entry', new_reading_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-cyan-600">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">Expand Your Health Monitoring</h1>
      <p class="py-6">Seamlessly monitor vital signs, visualize data through intuitive charts, and explore comprehensive logs to uncover patterns in your well-being..</p>
      <%= link_to 'Vitals & Charts', vitals_path, class: 'btn btn-primary' %>
      <%= link_to 'See My Logs', readings_path, class: 'btn btn-secondary' %>
    </div>
  </div>
</div>
<div class="hero min-h-screen bg-emerald-600">
  <div class="hero-content flex-col lg:flex-row-reverse">
    <div>
      <h1 class="text-5xl font-bold">Discover Your Health Trends</h1>
      <p class="py-6">Leverage AI's power to explore your health logs, drawing insights and suggesting improvements for your overall wellness.</p>
      <%= link_to 'Start My Analysis', new_analysis_path, class: 'btn btn-accent' %>
    </div>
  </div>
</div>