<div class="card w-full bg-base-900 shadow-lg shadow-indigo-700/40 mb-8 w-full">
  <div class="card-body">
    <%= form_with(model: vital) do |form| %>
      <% if vital.errors.any? %>
        <div role="alert" class="alert alert-error">
          <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z" />
          </svg>       
            <div>
              <h2><%= pluralize(vital.errors.count, "error") %></h2>
              <ul>
                <% vital.errors.each do |error| %>
                  <li><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
        </div>
      <% end %>  

      <div>
        <%= form.label :name, style: "display: block" %>
        <%= form.text_field :name, class: "input input-bordered input-secondary w-full max-w-xs"  %>
      </div>

      <div>
        <%= form.label :category, style: "display: block" %>
        <%= form.select :category, Vital.category_options, {}, class: "select select-secondary w-full max-w-xs" %>
      </div>

      <div class="text-right">
        <%= form.submit class: "btn btn-secondary my-4 shadow-lg shadow-indigo-700/40" %>
      </div>
    <% end %>

    </div>
  </div>
</div>

