<div class= "w-full">
    <div>
    <h4 class="text-3xl mx-auto my-4 text-center font-bold"><%= @selected_vital.name %> Chart</h4>
    <h4 class="text-2xl mx-auto my-4 text-center"><%= chart_title(params[:time_frame]) %></h4>
    <%= line_chart @readings_for_chart, library: {
      scales: {
        x: {
          title: {
            display: true,
            text: 'Dates'
          }
        },
        y: {
          title: {
            display: true,
            text: 'Readings'
          }
        }
      },
      title: {
        display: true,
        text: @selected_vital.name
      }
    }, height: '500px' %>
    </div>

    <div class="text-center mt-4">
      <%= form_tag(vital_chart_path, method: "get", class: "time-frame-form") do %>
        <%= hidden_field_tag :vital_id, @selected_vital.id %>
        <div>
          <label for="start_date">Start Date:</label>
          <%= date_field_tag :start_date, params[:start_date], class: "select select-secondary w-auto max-w-xs" %>
        </div>
        <div>
          <label for="end_date">End Date:</label>
          <%= date_field_tag :end_date, params[:end_date], class: "select select-secondary w-auto max-w-xs" %>
        </div>
        <%= submit_tag "Update Chart", class: "btn btn-primary mt-4" %>
      <% end %>
    </div>
</div>
