<!DOCTYPE html>
<html>
  <head>
    <title>Daisyui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script>
      document.documentElement.setAttribute('data-theme', window.localStorage.getItem('theme'))
    </script>
  </head>
  <body>
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <!-- Page content here -->
        <div class="grid grid-cols-1 gap-6 lg:p-10 xl:grid-cols-3 bg-base-200 text-base-content p-3">
          <%= render "layouts/header" %>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </div>
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
          <!-- Sidebar content here -->
          <% if current_user != nil %>
            <li><a href="/users/sign_out" target="_blank" class=""> Sign Out </a> </li>
            <li><a href="/users/edit" target="_blank" class=""> Edit Profile </a></li>
          <% else %>
            <li><a href="/users/sign_up" target="_blank" class=""> Sign Up </a> </li>
            <li><a href="/users/sign_in" target="_blank" class=""> Sign In </a></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
