<!DOCTYPE html>
<html>
  <head>
    <title>Vitals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <%# Might want to put the script somewhere else or at least outside the head  %>
    <script>
      document.documentElement.setAttribute('data-theme', window.localStorage.getItem('theme'))
    </script>
  </head>
  <body>
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
        <%= render 'layouts/notifications' %>
        <div class="grid grid-cols-1 gap-6 lg:p10 xl:grid-cols-3 text-base-content p-3">
          <%= render "layouts/header" %>
          <%= yield %>
        </div>
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
          <!-- Sidebar content here -->
          <%# could be in a partial %>
          <% if user_signed_in? %>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-outline btn-error text-xl px-4 w-full my-4" %>
            <li><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline text-xl px-4 my-4 w-full" %></li>
            <li><%= link_to 'Home', root_path, class: "btn btn-primary text-xl px-4 my-4 w-full" %></li>
            <li><%= link_to 'Vitals & Charts', vitals_path, class: "btn btn-secondary text-xl px-4 my-4 w-full" %></li>
            <li><%= link_to 'my Log Entries', readings_path, class: "btn btn-accent text-xl px-4 my-4 w-full" %></li>
            <li><%= link_to 'Analyze My Data', new_analysis_path, class: "btn btn-info text-xl px-4 my-4 w-full" %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-primary text-xl px-4 my-4 w-full" %></li>
            <li><%= link_to 'Log In', new_user_session_path, class: "btn btn-secondary text-xl px-4 my-4 w-full" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
  <footer class="footer p-10 bg-base-200 text-base-content">
    <aside>
      <i class="fa-solid fa-heart-pulse fa-6x"></i>
      <br>
      <p>Vitals<br>
        Providing health analysis since 2024</p>
    </aside>
    <nav>
      <h6 class="footer-title">Services</h6>
      <a class="link link-hover">Branding</a>
      <a class="link link-hover">Design</a>
      <a class="link link-hover">Marketing</a>
      <a class="link link-hover">Advertisement</a>
    </nav>
    <nav>
      <h6 class="footer-title">Company</h6>
      <a class="link link-hover">About us</a>
      <a class="link link-hover">Contact</a>
      <a class="link link-hover">Jobs</a>
      <a class="link link-hover">Press kit</a>
    </nav>
    <nav>
      <h6 class="footer-title">Legal</h6>
      <a class="link link-hover">Terms of use</a>
      <a class="link link-hover">Privacy policy</a>
      <a class="link link-hover">Cookie policy</a>
    </nav>
  </footer>
</body>
</html>
