<!DOCTYPE html>
<html>
  <head>
    <title>Daisyui</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script>
      document.documentElement.setAttribute('data-theme', window.localStorage.getItem('theme'))
    </script>
  </head>
  <body>
    <div class="drawer">
      <input id="my-drawer" type="checkbox" class="drawer-toggle" />
      <div class="drawer-content">
          <%= render "layouts/header" %>
          <%= yield %>
      </div>
      <div class="drawer-side">
        <label for="my-drawer" class="drawer-overlay"></label>
        <ul class="menu p-4 w-80 h-full bg-base-200 text-base-content">
          <!-- Sidebar content here -->
          <% if user_signed_in? %>
            <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: "btn" %>
            <li><%= link_to 'Edit Profile', edit_user_registration_path, target: "_blank", class: "" %></li>
          <% else %>
            <li><%= link_to 'Sign Up', new_user_registration_path, target: "_blank", class: "" %></li>
            <li><%= link_to 'Log In', new_user_session_path, target: "_blank", class: "" %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</body>
</html>
